
      <!-- BEGIN SIDEBAR CONTENT LAYOUT -->
      <div class="page-content-container">
          <div class="page-content-row">
              <!-- BEGIN PAGE SIDEBAR -->
              <div class="page-sidebar">
                  <nav class="navbar" role="navigation">
                      <!-- Brand and toggle get grouped for better mobile display -->
                      <!-- Collect the nav links, forms, and other content for toggling -->
                      <ul class="nav navbar-nav margin-bottom-35">
                          <li class="active">
                              <a href="index.html">
                                  <i class="icon-home"></i> Home </a>
                          </li>
                          <li>
                              <a href="#">
                                  <i class="icon-note "></i> Reports </a>
                          </li>
                          <li>
                              <a href="#">
                                  <i class="icon-user"></i> User Activity </a>
                          </li>
                          <li>
                              <a href="#">
                                  <i class="icon-basket "></i> Marketplace </a>
                          </li>
                          <li>
                              <a href="#">
                                  <i class="icon-bell"></i> Templates </a>
                          </li>
                      </ul>
                      <h3>Quick Actions</h3>
                      <ul class="nav navbar-nav">
                          <li>
                              <a href="#">
                                  <i class="icon-envelope "></i> Inbox
                                  <label class="label label-danger">New</label>
                              </a>
                          </li>
                          <li>
                              <a href="#">
                                  <i class="icon-paper-clip "></i> Task </a>
                          </li>
                          <li>
                              <a href="#">
                                  <i class="icon-star"></i> Projects </a>
                          </li>
                          <li>
                              <a href="#">
                                  <i class="icon-pin"></i> Events
                                  <span class="badge badge-success">2</span>
                              </a>
                          </li>
                      </ul>
                  </nav>
              </div>
              <!-- END PAGE SIDEBAR -->
              <div class="page-content-col">
                  <!-- BEGIN PAGE BASE CONTENT -->
                  <div class="portlet light portlet-fit bordered">
                      <div class="portlet-title">
                          <div class="caption">
                              <i class="icon-microphone font-green"></i>
                              <span class="caption-subject bold font-green uppercase"> Timeline 2</span>
                              <span class="caption-helper">Alternating Vertical Timeline</span>
                          </div>
                          <div class="actions">
                              <div class="btn-group btn-group-devided" data-toggle="buttons">
                                  <label class="btn red btn-outline btn-circle btn-sm active">
                                      <input type="radio" name="options" class="toggle" id="option1">Settings</label>
                                  <label class="btn  red btn-outline btn-circle btn-sm">
                                      <input type="radio" name="options" class="toggle" id="option2">Tools</label>
                              </div>
                          </div>
                      </div>
                      <div class="portlet-body">
                          <div class="mt-timeline-2">
                              <div class="mt-timeline-line border-grey-steel"></div>
                              <ul class="mt-container">
                                  <li class="mt-item">
                                      <div class="mt-timeline-icon bg-red bg-font-red border-grey-steel">
                                          <i class="icon-home"></i>
                                      </div>
                                      <div class="mt-timeline-content">
                                          <div class="mt-content-container">
                                              <div class="mt-title">
                                                  <h3 class="mt-content-title">Globalattract</h3>
                                              </div>
                                              <div class="mt-author">
                                                <div class="mt-author-name">
                                                    <a href="javascript:;" class="font-blue-madison">03 February 2018</a>
                                                </div>
                                                <div class="mt-author-notes font-grey-mint">Auckland</div>
                                            </div>
                                              <div class="mt-content border-grey-salt">
                                                  .NET Developer <a href="javascript:;" class="btn btn-circle-small blue">Link</a>   
                                              </div>
                                          </div>
                                      </div>
                                  </li>
                                  <li class="mt-item">
                                    <div class="mt-timeline-icon bg-red bg-font-red border-grey-steel">
                                        <i class="icon-home"></i>
                                    </div>
                                    <div class="mt-timeline-content">
                                        <div class="mt-content-container">
                                            <div class="mt-title">
                                                <h3 class="mt-content-title">Globalattract</h3>
                                            </div>
                                            <div class="mt-author">
                                              <div class="mt-author-name">
                                                  <a href="javascript:;" class="font-blue-madison">03 February 2018</a>
                                              </div>
                                              <div class="mt-author-notes font-grey-mint">Auckland</div>
                                          </div>
                                            <div class="mt-content border-grey-salt">
                                                .NET Developer <a href="javascript:;" class="btn btn-circle-small blue">Link</a>   
                                            </div>
                                        </div>
                                    </div>
                                </li>                                  <li class="mt-item">
                                    <div class="mt-timeline-icon bg-red bg-font-red border-grey-steel">
                                        <i class="icon-home"></i>
                                    </div>
                                    <div class="mt-timeline-content">
                                        <div class="mt-content-container">
                                            <div class="mt-title">
                                                <h3 class="mt-content-title">Globalattract</h3>
                                            </div>
                                            <div class="mt-author">
                                              <div class="mt-author-name">
                                                  <a href="javascript:;" class="font-blue-madison">03 February 2018</a>
                                              </div>
                                              <div class="mt-author-notes font-grey-mint">Auckland</div>
                                          </div>
                                            <div class="mt-content border-grey-salt">
                                                .NET Developer <a href="javascript:;" class="btn btn-circle-small blue">Link</a>   
                                            </div>
                                        </div>
                                    </div>
                                </li>                                  <li class="mt-item">
                                    <div class="mt-timeline-icon bg-red bg-font-red border-grey-steel">
                                        <i class="icon-home"></i>
                                    </div>
                                    <div class="mt-timeline-content">
                                        <div class="mt-content-container">
                                            <div class="mt-title">
                                                <h3 class="mt-content-title">Globalattract</h3>
                                            </div>
                                            <div class="mt-author">
                                              <div class="mt-author-name">
                                                  <a href="javascript:;" class="font-blue-madison">03 February 2018</a>
                                              </div>
                                              <div class="mt-author-notes font-grey-mint">Auckland</div>
                                          </div>
                                            <div class="mt-content border-grey-salt">
                                                .NET Developer <a href="javascript:;" class="btn btn-circle-small blue">Link</a>   
                                            </div>
                                        </div>
                                    </div>
                                </li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <div class="portlet light portlet-fit bordered">
                      <div class="portlet-title">
                          <div class="caption">
                              <i class="icon-microphone font-green"></i>
                              <span class="caption-subject bold font-green uppercase"> Timeline 2 - Custom Colors</span>
                              <span class="caption-helper">Alternating Vertical Timeline</span>
                          </div>
                          <div class="actions">
                              <div class="btn-group btn-group-devided" data-toggle="buttons">
                                  <label class="btn red btn-outline btn-circle btn-sm active">
                                      <input type="radio" name="options" class="toggle" id="option1">Settings</label>
                                  <label class="btn  red btn-outline btn-circle btn-sm">
                                      <input type="radio" name="options" class="toggle" id="option2">Tools</label>
                              </div>
                          </div>
                      </div>
                      <div class="portlet-body">
                          <div class="mt-timeline-2">
                              <div class="mt-timeline-line border-grey-steel"></div>
                              <ul class="mt-container">
                                  <li class="mt-item">
                                      <div class="mt-timeline-icon bg-red bg-font-red border-grey-steel">
                                          <i class="icon-home"></i>
                                      </div>
                                      <div class="mt-timeline-content">
                                          <div class="mt-content-container bg-red bg-font-red border-left-before-red border-red">
                                              <div class="mt-title">
                                                  <h3 class="mt-content-title">Red</h3>
                                              </div>
                                              <div class="mt-author">
                                                  <div class="mt-avatar">
                                                      <img src="../assets/pages/media/users/avatar80_2.jpg" />
                                                  </div>
                                                  <div class="mt-author-name">
                                                      <a href="javascript:;" class="font-white">Andres Iniesta</a>
                                                  </div>
                                                  <div class="mt-author-notes font-white">10 March 2016 : 7:45 PM</div>
                                              </div>
                                              <div class="mt-content border-white">
                                                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus
                                                      veritatis qui ut.</p>
                                                  <a href="javascript:;" class="btn btn-circle white">Read More</a>
                                                  <a href="javascript:;" class="btn btn-circle btn-icon-only blue">
                                                      <i class="fa fa-plus"></i>
                                                  </a>
                                                  <a href="javascript:;" class="btn btn-circle btn-icon-only green pull-right">
                                                      <i class="fa fa-twitter"></i>
                                                  </a>
                                              </div>
                                          </div>
                                      </div>
                                  </li>
                                  <li class="mt-item">
                                      <div class="mt-timeline-icon bg-blue bg-font-blue border-grey-steel">
                                          <i class="icon-plane"></i>
                                      </div>
                                      <div class="mt-timeline-content">
                                          <div class="mt-content-container bg-blue bg-font-blue border-blue border-right-before-blue">
                                              <div class="mt-title">
                                                  <h3 class="mt-content-title">Blue</h3>
                                              </div>
                                              <div class="mt-author">
                                                  <div class="mt-avatar">
                                                      <img src="../assets/pages/media/users/avatar80_3.jpg" />
                                                  </div>
                                                  <div class="mt-author-name">
                                                      <a href="javascript:;" class="font-white">Hugh Grant</a>
                                                  </div>
                                                  <div class="mt-author-notes font-white">11 March 2016 : 10:15 AM</div>
                                              </div>
                                              <div class="mt-content border-white">
                                                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde.</p>
                                                  <a href="javascript:;"
                                                      class="btn btn-circle btn-outline white">Download Shipment List</a>
                                                  <div class="btn-group pull-right">
                                                      <button class="btn btn-circle blue-steel dropdown-toggle" type="button" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" aria-expanded="false"> Actions
                                                          <i class="fa fa-angle-down"></i>
                                                      </button>
                                                      <ul class="dropdown-menu pull-right" role="menu">
                                                          <li>
                                                              <a href="javascript:;">Action </a>
                                                          </li>
                                                          <li>
                                                              <a href="javascript:;">Another action </a>
                                                          </li>
                                                          <li>
                                                              <a href="javascript:;">Something else here </a>
                                                          </li>
                                                          <li class="divider"> </li>
                                                          <li>
                                                              <a href="javascript:;">Separated link </a>
                                                          </li>
                                                      </ul>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </li>
                                  <li class="mt-item">
                                      <div class="mt-timeline-icon bg-green-turquoise bg-font-green-turquoise border-grey-steel">
                                          <i class="icon-calendar"></i>
                                      </div>
                                      <div class="mt-timeline-content">
                                          <div class="mt-content-container bg-green-turquoise bg-font-green-turquoise border-left-before-green-turquoise border-green-turquoise">
                                              <div class="mt-title">
                                                  <h3 class="mt-content-title">Green Turqouise</h3>
                                              </div>
                                              <div class="mt-author">
                                                  <div class="mt-avatar">
                                                      <img src="../assets/pages/media/users/avatar80_2.jpg" />
                                                  </div>
                                                  <div class="mt-author-name">
                                                      <a href="javascript:;" class="font-white">Andres Iniesta</a>
                                                  </div>
                                                  <div class="mt-author-notes font-white">12 March 2016 : 12:20 PM</div>
                                              </div>
                                              <div class="mt-content border-white">
                                                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus
                                                      veritatis qui ut.</p>
                                                  <a href="javascript:;" class="btn white btn-outline">Read More</a>
                                              </div>
                                          </div>
                                      </div>
                                  </li>
                                  <li class="mt-item">
                                      <div class="mt-timeline-icon bg-purple-medium bg-font-purple-medium border-grey-steel">
                                          <i class="icon-heart"></i>
                                      </div>
                                      <div class="mt-timeline-content">
                                          <div class="mt-content-container bg-purple-medium bg-font-purple-medium border-right-before-purple-medium border-purple-medium">
                                              <div class="mt-title">
                                                  <h3 class="mt-content-title">Purple Medium</h3>
                                              </div>
                                              <div class="mt-author">
                                                  <div class="mt-avatar">
                                                      <img src="../assets/pages/media/users/avatar80_1.jpg" />
                                                  </div>
                                                  <div class="mt-author-name">
                                                      <a href="javascript:;" class="font-white">Matt Goldman</a>
                                                  </div>
                                                  <div class="mt-author-notes font-white">14 March 2016 : 8:15 PM</div>
                                              </div>
                                              <div class="mt-content border-white">
                                                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde.</p>
                                                  <a href="javascript:;"
                                                      class="btn btn-circle white">View Summary</a>
                                                  <div class="btn-group pull-right">
                                                      <button class="btn btn-circle white btn-outline dropdown-toggle" type="button" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" aria-expanded="false"> Actions
                                                          <i class="fa fa-angle-down"></i>
                                                      </button>
                                                      <ul class="dropdown-menu pull-right" role="menu">
                                                          <li>
                                                              <a href="javascript:;">Action </a>
                                                          </li>
                                                          <li>
                                                              <a href="javascript:;">Another action </a>
                                                          </li>
                                                          <li>
                                                              <a href="javascript:;">Something else here </a>
                                                          </li>
                                                          <li class="divider"> </li>
                                                          <li>
                                                              <a href="javascript:;">Separated link </a>
                                                          </li>
                                                      </ul>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </li>
                                  <li class="mt-item">
                                      <div class="mt-timeline-icon bg-blue-steel bg-font-blue-steel border-grey-steel">
                                          <i class="icon-call-in"></i>
                                      </div>
                                      <div class="mt-timeline-content">
                                          <div class="mt-content-container bg-blue-steel bg-font-blue-steel border-blue-steel border-left-before-blue-steel">
                                              <div class="mt-title">
                                                  <h3 class="mt-content-title">Blue Steel</h3>
                                              </div>
                                              <div class="mt-author">
                                                  <div class="mt-avatar">
                                                      <img src="../assets/pages/media/users/avatar80_1.jpg" />
                                                  </div>
                                                  <div class="mt-author-name">
                                                      <a href="javascript:;" class="font-white">Rory Matthew</a>
                                                  </div>
                                                  <div class="mt-author-notes font-white">14 March 2016 : 5:45 PM</div>
                                              </div>
                                              <div class="mt-content border-white">
                                                  <img class="timeline-body-img pull-left" src="../assets/pages/media/blog/5.jpg" alt="">
                                                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus
                                                      veritatis qui ut. laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut. </p>
                                                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus
                                                      veritatis qui ut. laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut. </p>
                                                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus
                                                      veritatis qui ut. laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut. </p>
                                                  <a href="javascript:;" class="btn btn-circle white">Read More</a>
                                              </div>
                                          </div>
                                      </div>
                                  </li>
                                  <li class="mt-item">
                                      <div class="mt-timeline-icon bg-green-jungle bg-font-green-jungle border-grey-steel">
                                          <i class="icon-call-out"></i>
                                      </div>
                                      <div class="mt-timeline-content">
                                          <div class="mt-content-container bg-green-jungle bg-font-green-jungle border-green-jungle border-right-before-green-jungle">
                                              <div class="mt-title">
                                                  <h3 class="mt-content-title">Green Jungle</h3>
                                              </div>
                                              <div class="mt-author">
                                                  <div class="mt-avatar">
                                                      <img src="../assets/pages/media/users/avatar80_5.jpg" />
                                                  </div>
                                                  <div class="mt-author-name">
                                                      <a href="javascript:;" class="font-white">Jessica Wolf</a>
                                                  </div>
                                                  <div class="mt-author-notes font-white">14 March 2016 : 8:30 PM</div>
                                              </div>
                                              <div class="mt-content border-white">
                                                  <img class="timeline-body-img pull-right" src="../assets/pages/media/blog/6.jpg" alt="">
                                                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus
                                                      veritatis qui ut.</p>
                                                  <a href="javascript:;" class="btn btn-circle white btn-outline">Read More</a>
                                              </div>
                                          </div>
                                      </div>
                                  </li>
                                  <li class="mt-item">
                                      <div class="mt-timeline-icon bg-blue-chambray bg-font-blue-chambray border-grey-steel">
                                          <i class="icon-bubbles"></i>
                                      </div>
                                      <div class="mt-timeline-content">
                                          <div class="mt-content-container bg-blue-chambray bg-font-blue-chambray border-blue-chambray border-left-before-blue-chambray">
                                              <div class="mt-title">
                                                  <h3 class="mt-content-title">Blue Chambray</h3>
                                              </div>
                                              <div class="mt-author">
                                                  <div class="mt-avatar">
                                                      <img src="../assets/pages/media/users/avatar80_1.jpg" />
                                                  </div>
                                                  <div class="mt-author-name">
                                                      <a href="javascript:;" class="font-white">Rory Matthew</a>
                                                  </div>
                                                  <div class="mt-author-notes font-white">15 March 2016 : 10:45 PM</div>
                                              </div>
                                              <div class="mt-content border-white">
                                                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus
                                                      veritatis qui ut. laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut. </p>
                                                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus
                                                      veritatis qui ut. laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut. </p>
                                                  <a href="javascript:;" class="btn btn-circle white">Read More</a>
                                              </div>
                                          </div>
                                      </div>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <!-- END PAGE BASE CONTENT -->
              </div>
          </div>
      </div>
      <!-- END SIDEBAR CONTENT LAYOUT -->