<div class="wrapper">
    <!-- BEGIN HEADER -->
    <app-header></app-header>
    <!-- END HEADER -->
    <div class="container-fluid">
        <div class="page-content">
            <!-- BEGIN BREADCRUMBS -->
            <app-breadcrumbs></app-breadcrumbs>
            <!-- END BREADCRUMBS -->
            <!-- BEGIN PAGE BASE CONTENT -->
            <app-page1></app-page1>
            <!-- END PAGE BASE CONTENT -->
        </div>
        <!-- BEGIN FOOTER -->
        <app-footer></app-footer>
        <!-- END FOOTER -->
    </div>
</div>
<!-- END CONTAINER -->
<!-- BEGIN QUICK SIDEBAR -->
<app-sidebar></app-sidebar>
<!-- END QUICK SIDEBAR -->